
NEXT_PUBLIC_SITE_URL=https://zero-meta.vercel.app/
NEXT_PUBLIC_APP_NAME=mrashed21 Media Processor
NEXT_PUBLIC_CREATOR_NAME=Muhammad Rashed
NEXT_PUBLIC_SOFTWARE_NAME=mrashed21 Media Processor
NEXT_PUBLIC_GITHUB_URL=https://github.com/mrashed21


